<!DOCTYPE html>
<html>

<head>
    <div>
        <h1>BATTLE GAME</h1>
    </div>
</head>

<body>
    <h2>{{user}}</h2>
    <div style="text-align:center">
        <h3> {{ winner }}!!</h3>
        <h4>nombre de manche: {{ nbManche }}</h4>
        <form method="POST">
            <input type="submit" value="Restart" name="submit" class="button button2"><br>
            <input type="submit" value="Home page" name="submit" class="button button2"><br>
        </form>
    </div>
</body>

<footer>
    <div class="footer">
        @2022 Ynov Campus
    </div>
</footer>

</html>

<style>
    body {
        background-color: rgb(0, 119, 128);
        text-align: center;

    }

    h1 {
        text-align: center;
        color: white;
        font-size: 150px;

    }

    h2 {
        color: white;
        font-size: 40px;
        position: relative;
        left: -500px;
        top: -100px;
    }

    h3 {
        text-align: center;
        color: white;
        font-size: 50px;
        position: relative;
        top: -110px;
    }


    h4 {
        text-align: center;
        color: white;
        font-size: 20px;
        position: relative;
        top: -110px;
    }


    .button {
        color: white;
        text-align: center;
        text-decoration: grey;
        font-size: 20px;
        transition-duration: 0.4s;
        cursor: pointer;
        height: 40px;
        width: 41%;
        border-radius: 12px;
        margin-bottom: 5px;

    }

    .button2 {
        background-color: white;
        color: black;
        border: 2px solid red;
    }

    .button2:hover {
        background-color: red;
        color: white;
    }

    .footer {
        color: white;
        font-size: 10px;
        text-align: center;
        position: fixed;
        top: 770px;
        left: 650px
    }
</style>