<!DOCTYPE html>
<html>
    <meta http-equiv="refresh" content="2">
<head>
    <div>
        <h1>BATTLE GAME</h1>
    </div>
</head>

<body>
    <h2>Game ID: {{ idPartie }}</h2>
    <div>
        <h3>{{ message }}</h3>
        <h4>{{ player1 }}</h4>
        <h5>{{ player2}}</h5>
        <h6>{{ NB_carteJ1 }}</h6>
        <div id="h7">{{ NB_carteJ2 }}</div>
        <div>
            <img src="{{ carteJ1 }}" class="carte1" />
        </div>
        <div>
            <img src="{{ carteJ2 }}" class="carte2" />
        </div>
        <form method="POST" class="form">
            <input type="submit" value="Show cards" name="submit" class="button button2"><br>
            <input type="submit" value="Play" name="submit" class="button button2"><br>
            <input type="submit" value="Leave game" name="submit" class="button button2"><br>
            <input type="submit" value="Go back" name="submit" class="button button2"><br>
        </form>
    </div>
</body>

<footer>
    <div class="footer">
        @2022 Ynov Campus
    </div>
</footer>

</html>

<style>
    body {
        background-color: rgb(0, 119, 128);
        text-align: center;

    }

    h1 {
        text-align: center;
        color: white;
        font-size: 150px;

    }

    h2 {
        color: white;
        font-size: 20px;
        position: relative;
        left: -500px;
        top: -120px;
    }

    h3 {
        text-align: center;
        color: white;
        font-size: 20px;
        position: relative;
        top: -110px;
    }

    h4 {
        text-align: center;
        color: white;
        font-size: 20px;
        position: relative;
        left: -500px;
    }

    h5 {
        text-align: center;
        color: white;
        font-size: 20px;
        position: relative;
        left: 500px;
        top: -30px;
    }

    h6 {
        text-align: center;
        color: white;
        font-size: 20px;
        position: relative;
        left: -500px;
        top: -80px;
    }

    #h7 {
        text-align: center;
        color: white;
        font-size: 20px;
        position: relative;
        left: 500px;
        top: -110px;
        font-weight: bold;
    }

    .carte1 {
        height: 170px;
        position: relative;
        left: -500px;
        top: -100px;
    }

    .carte2 {
        height: 170px;
        position: relative;
        top: -250px;
        left: 500px;
    }

    .button {
        color: white;
        text-align: center;
        text-decoration: grey;
        font-size: 20px;
        transition-duration: 0.4s;
        cursor: pointer;
        height: 40px;
        width: 41%;
        border-radius: 12px;
        margin-bottom: 5px;

    }

    .button2 {
        background-color: white;
        color: black;
        border: 2px solid red;
    }

    .button2:hover {
        background-color: red;
        color: white;
    }

    .form {
        position: relative;
        top: -450px;
    }

    .footer {
        color: white;
        font-size: 10px;
        text-align: center;
        position: fixed;
        top: 770px;
        left: 650px
    }
</style>